.app {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}

.land {
  background: center / cover no-repeat url('./img/background.jpg');
  width: 100vw;
  height: 97.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.land-logo {
  width: 52.361vw;
  animation: 2s fadeIn linear;
}

.btn-group-language {
  position: absolute;
  top: 10%;
  right: 10%;
}

.btn-group-language button {
  font-size: 1.32rem;
}

.btn-group-language button:first-child {
  margin-right: 1rem;
}

.btn-group-language button:hover {
  text-shadow: 0px 0px 15px #cecece;
}

.land-leaf-decor-right {
  position: absolute;
  bottom: -15%;
  right: 0;
}

.land-leaf-decor-left {
  position: absolute;
  bottom: -15%;
  left: 0;
}

.land-leaf-decor-left,
.land-leaf-decor-right {
  min-width: 162px;
  transition: transform 0.3s linear;
  z-index: 10;
  width: 21.9vw;
}

.land-leaf-decor-left {
  bottom: -14%;
}

.land-leaf-decor-right {
  bottom: -17%;
}

@media (max-width: 961px) {
  .land-logo {
    width: 63vw;
  }
}

@media (max-width: 780px) {
  .land-leaf-decor-left,
  .land-leaf-decor-right {
    width: 30.9vw;
  }

  .land-leaf-decor-left {
    opacity: 0.9;
  }

  .land-logo {
    width: 80vw;
  }
}
