.app {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}

.land {
  background: center / cover no-repeat url('./img/background.jpg');
  width: 100vw;
  height: 97.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.land-logo {
  width: 52.361vw;
}

.btn-group-language {
  position: absolute;
  top: 10%;
  right: 10%;
}

.btn-group-language button {
  font-size: 1.32rem;
}

.btn-group-language button:first-child {
  margin-right: 1rem;
}

.btn-group-language button:hover {
  text-shadow: 0px 0px 15px #cecece;
}

.land-leaf-decor-right {
  position: absolute;
  bottom: -15%;
  right: 0;
}

.land-leaf-decor-left {
  position: absolute;
  bottom: -15%;
  left: 0;
}

.land-leaf-decor-left,
.land-leaf-decor-right {
  min-width: 162px;
  z-index: 5;
  width: 21.9vw;
}

.footer {
  position: absolute;
  bottom: 0;
  right: -10%;
  left: -2%;
  width: 110vw;
}

@media (max-width: 1100px) {
  .land-leaf-decor-left,
  .land-leaf-decor-right {
    width: 28.9vw;
  }

  .land-leaf-decor-left {
    bottom: -10%;
  }

  .land-leaf-decor-right {
    bottom: -14%;
  }
}

@media (max-width: 961px) {
  .land-logo {
    width: 80vw;
  }
}

@media (max-width: 780px) {
  .land-leaf-decor-left,
  .land-leaf-decor-right {
    width: 36.9vw;
  }
  .land-logo {
    width: 80vw;
  }
}

@media (max-width: 505px) {
  .land-leaf-decor-left {
    /* bottom: -15%; */
  }

  .land-leaf-decor-right {
    /* bottom: -11%; */
  }
}
