.contact {
  width: 100%;
  max-width: 1140px;
  padding: 0 0.938rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.contact-txt {
  height: 350px;
  width: 45%;
  border-top: 0.25rem solid #fff;
  border-bottom: 0.25rem solid #fff;
  padding: 1.25rem 0.75rem;
  margin-right: 3.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-txt h1 {
  text-align: center;
}

.contact-txt p,
.contact-txt a {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.google-maps {
  width: 50%;
  height: 350px;
}

.google-maps iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contact-txt-icon {
  width: 2rem;
  max-height: 32px;
  margin-right: 1.5rem;
}

.footer-1,
.footer-2,
.footer-3,
.footer-5 {
  position: absolute;
  animation: 2s fadeIn linear;
  overflow: hidden;
}

.footer-1 {
  left: -22%;
  bottom: 0;
  z-index: -1;
  height: 800px;
}

.footer-1 img {
  transform: rotate(116deg) translate(3%, 0);
}

.footer-2 {
  left: -5%;
  bottom: 0;
  z-index: -2;
  height: 600px;
}

.footer-2 img {
  transform: rotate(90deg) translate(19%, 0);
}

.footer-3 {
  left: 10%;
  bottom: 0;
  z-index: -1;
  height: 600px;
}

.footer-3 img {
  transform: rotate(79deg) translate(10%, 0);
}

.footer-5 {
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 800px;
}

.footer-5 img {
  transform: rotate(79deg) translate(14%, -17%);
}

@media (max-width: 961px) {
  .contact {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .google-maps,
  .contact-txt {
    width: 90vw;
    min-width: 90vw;
  }

  .contact-txt {
    margin-right: 0;
    align-items: center;
    border-bottom: none;
  }
}

@media (max-width: 769px) {
  .google-maps {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .contact {
    margin-bottom: 2rem;
  }
}

@media (max-width: 505px) {
  .contact-txt {
    height: fit-content;
  }

  .contact-txt p,
  .contact-txt a {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .contact-txt h1 {
    margin: 0;
    font-size: 1.2rem;
  }

  .contact-txt-icon {
    width: 1.5rem;
  }
}
