.contact {
  width: 100%;
  max-width: 1140px;
  padding: 0 0.938rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.contact-txt {
  height: 350px;
  width: 45%;
  border-top: 0.25rem solid #fff;
  border-bottom: 0.25rem solid #fff;
  padding: 1.25rem 0.75rem;
  margin-right: 3.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-txt h1 {
  text-align: center;
}

.contact-txt p,
.contact-txt a {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.google-maps {
  width: 50%;
  height: 350px;
}

.google-maps iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contact-txt-icon {
  width: 2rem;
  max-height: 32px;
  margin-right: 1.5rem;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
  position: absolute;
  animation: 2s fadeIn linear;
  overflow: hidden;
  height: 600px;
}

.footer-1 {
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footer-1 img {
  transform: rotate(8deg) translate(-24%, 22%);
}

.footer-2 {
  left: 6%;
  bottom: 0;
  z-index: -2;
}

.footer-2 img {
  transform: rotate(14deg) translate(7%, 33%);
  filter: blur(2px);
}

.footer-3 {
  right: 9%;
  bottom: 0;
  z-index: -1;
}

.footer-3 img {
  transform: rotate(-23deg) translate(0%, 21%);
  filter: blur(2px);
}

.footer-4 {
  right: 0;
  bottom: 0;
  max-width: 47vw;
}

.footer-4 img {
  transform: rotate(-10deg) translate(30%, 16%);
}

@media (max-width: 1545px) {
  .footer-4 {
    z-index: -1;
  }
  .footer-4 img {
    transform: rotate(16deg) translate(30%, 16%);
  }
  .footer-3 {
    right: 21%;
  }
}

@media (max-width: 1100px) {
  .footer-2 {
    display: none;
  }
}

@media (max-width: 961px) {
  .footer-1 {
    height: 83.247vw;
    filter: blur(3px);
  }

  .footer-1 img {
    transform: rotate(29deg) translate(-28%, 22%);
  }

  .footer-3 {
    right: 26%;
  }

  .footer-3 img {
    transform: rotate(0deg) translate(0%, 21%);
  }

  .footer-4 {
    max-width: 59vw;
  }

  .footer-4 img {
    transform: rotate(0deg) translate(4%, 16%);
  }

  .contact {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .google-maps,
  .contact-txt {
    width: 90vw;
    min-width: 90vw;
  }

  .contact-txt {
    margin-right: 0;
    align-items: center;
    border-bottom: none;
  }
}

@media (max-width: 769px) {
  .footer-3 {
    right: 10%;
  }

  .footer-3 img {
    transform: rotate(7deg) translate(0%, 21%);
  }

  .google-maps {
    height: 200px;
  }
}

@media (max-width: 757px) {
  .contact {
    margin-bottom: 2rem;
  }

  .footer-1 img {
    transform: rotate(-4deg) translate(-32%, -6%);
  }
}

@media (max-width: 557px) {
  .footer-1 {
    height: 600px;
  }

  .footer-1 img {
    transform: rotate(14deg) translate(-42%, 19%);
  }

  .footer-3 {
    right: -11%;
  }

  .footer-4 img {
    transform: rotate(-11deg) translate(-16%, 5%);
  }
}

@media (max-width: 505px) {
  .contact-txt {
    height: fit-content;
  }

  .contact-txt p,
  .contact-txt a {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .contact-txt h1 {
    margin: 0;
    font-size: 1.2rem;
  }

  .contact-txt-icon {
    width: 1.5rem;
  }

  @media (max-width: 420px) {
    .footer-3 img {
      transform: rotate(10deg) translate(18%, 21%);
    }
  }

  @media (max-width: 375px) {
    .footer-4 {
      max-width: 78vw;
    }
  }
}
